.App {
  text-align: center;
}

.App-header {
  background-color: #182132;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section {
  border: 1px solid #182132;
  width: 90%;
  min-height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
